*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
}

/*-------------------------------------header */

header{
    height: 5%;
}

nav{
    padding: 0 20px;
    height: 100%;
} 

ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

ul li {
    display: inline;
    padding: 5px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

ul .menu{
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

/*-------------------------------------section */

section {
    width: auto;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .logo{
    background-image: url("../img/Google_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 92px;
    width: 272px;
}

section form input{
    width: 100%;
}
/*-------------------------------------footer */
footer{
    height: 5%;
}


footer .nav_footer{
    display: flex;
    justify-content: space-between;
}